
{% extends 'base.html' %}
{% load static %}

{% block title %}About - AmiTop Care LLC{% endblock %}

{% block content %}<section class="page-title bg-1" style="background-image: url('{% static "images/doctor.jpeg" %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">About Us</span>
            <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
  
            <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">></span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="title-color">About Us</h2>
			</div>
			<div class="col-lg-12 about-text">
				<p>AmiTop Care LLC is a team of mental health providers who are focused on providing outstanding mental health care to individuals. As a provider I offered holistic, integrative treatment plans for depression, anxiety disorders, and more, that are tailored to meet the unique needs of patients.</p>
				<p>AmiTop have training and experience in a wide range of therapeutic techniques to address a multitude of conditions. In addition to depression and anxiety disorders, they treat post-traumatic stress disorder (PTSD), attention-deficit hyperactivity disorder, (ADHD), duo diagnoses, obsessive-compulsive disorder (OCD), bipolar disorder, and many other conditions that are customized treatment plans in conjunction with psychotherapy and other proven techniques to help patients cope with difficult emotions so they can enjoy productive lives and robust personal relationships.</p>
				<p>Amitop Care offers both Telepsychiatry and in person office visits. Our Patients  can be seen on a weekly, bi-weekly, or on a less frequent basis, depending on their individual need(s). We do not offer emergency mental health services such as detox, crisis intervention, etc.</p>
				<p>I provide excellent psychiatric services to individuals according to their needs.
					please feel free to call us at <a style="color:red" href="tel:+1-339-237-2599">+1-339-237-2599</a>  or fill out an <a href="#" style="color:red"> intake form.</a>
					Please have your insurance card available when you call
					</p>
			</div>
		</div>
	</div>
</section>
  {% endblock %}